main {
    margin-top: 1.5em;
}

main h1 {
    font-size: 3.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

main h2 {
    font-size: 2.2em;
    font-weight: 800;
    text-align: center;
    margin: 0;
}

main hr {
    height: 6px;
    background-color: #292929;
}

main p {
    margin: 0.5em 0;
}

.upper {
    display: grid;
    justify-content: center;

}

.lower {
    display: grid;
    grid-template-rows: auto 2fr 1fr;
}

.lower-title {
    padding: 0.1em 0;
}

.tag-line {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
}

.cta-large {
    font-size: 1.9em;
    font-weight: 700;
    justify-self: center;
    padding: 1em 3em 1em 3em;
    margin: 0.5em 0;
}

.cta-long {
    padding: 0.2em 2.5em;
    font-size: 1.9em;
    font-weight: 700;
    margin-bottom: 0.4em;
}

.go-to-menu {
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.menu-highlight-cards {
    display: flex;
    justify-content: space-around;
}

.menu-card {
    background-color: #292929;
    color: white;
    padding: 1em;
    margin: 2em;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9em;
}

.menu-card h3 {
    font-size: 1.4em;
    font-weight: 700;
}

.menu-card h3,
.menu-card p {
    margin: 0;
    padding: 0;
}

.menu-card-panel {
    display: flex;
    gap: 2em;
    align-items: center;
}

.menu-highlight-card-button {
    background-color: #CD4545;
    font-weight: 700;
    font-size: 1.4em;
    padding: 0.2em 2.5em;
}