main {
    margin-top: 1.5em;
}

main h1 {
    font-size: 3.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

main h2 {
    font-size: 2.2em;
    font-weight: 800;
    text-align: center;
    margin: 0;
}

main hr {
    height: 6px;
    background-color: #292929;
}

main p {
    margin: 0.5em 0;
}

select {
    appearance: none;
    /* remove default arrow */
}

.start-order {
    display: flex;
    flex-direction: column;
}

.create-order-title {
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
}

.order-type-button {
    padding: 0.7em 1em;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
}


.order-type-button p {
    margin: 0;
}

.order-type-options {
    display: none;
    background-color: #292929;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 1em 0;
    gap: 0.5em;
    margin: 0;
    flex-direction: column;
    justify-content: start;
    text-align: left;
    align-content: start;
    list-style-type: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.order-type-options.visible {
    display: flex;
}

.order-type-option {
    padding: 0.3em 0.7em;
    margin: 0;
}

.order-type-option:hover {
    cursor: pointer;
    background-color: #3D3D3D;
}

.modal-submit.disabled {
    background-color: #A14040;
    color: #B2B2B2;
    cursor: not-allowed;
}

.address-autocomplete {
    display: none;
    outline: none;
    border: none;
    border-radius: 8px;
    margin-top: 2em;
    padding: 1em 9em 1em 1em;
    background-color: #545454;
    color: white;
}

.address-autocomplete::placeholder {
    color: #E1E1E1;
    font-size: 1.1em;
}

.address-autocomplete.visible {
    display: block;
}

.upper {
    display: grid;
    justify-content: center;

}

.lower {
    display: grid;
    grid-template-rows: auto 2fr 1fr;
}

.lower-title {
    padding: 0.1em 0;
}

.tag-line {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
}

.cta-large {
    font-size: 1.9em;
    font-weight: 700;
    justify-self: center;
    padding: 1em 3em 1em 3em;
    margin: 0.5em 0;
}

.cta-long {
    padding: 0.2em 2.5em;
    font-size: 1.9em;
    font-weight: 700;
    margin-bottom: 0.4em;
}

.go-to-menu {
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.menu-highlight-cards {
    display: flex;
    justify-content: space-around;
}

.menu-card {
    background-color: #292929;
    color: white;
    padding: 1em;
    margin: 2em;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9em;
}

.menu-card h3 {
    font-size: 1.4em;
    font-weight: 700;
}

.menu-card h3,
.menu-card p {
    margin: 0;
    padding: 0;
}

.menu-card-panel {
    display: flex;
    gap: 2em;
    align-items: center;
}

.menu-highlight-card-button {
    background-color: #CD4545;
    font-weight: 700;
    font-size: 1.4em;
    padding: 0.2em 2.5em;
}


@media only screen and (max-width: 867px) {
    main h1 {
        font-size: 3em;
        font-weight: 900;
        text-align: center;
        margin: 0;
    }

    main h2 {
        font-size: 1.8em;
        font-weight: 800;
        text-align: center;
        margin: 0;
    }

    .menu-highlight-cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .lower {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .cta-large {
        padding: 1em 2em 1em 2em;
    }

    .cta-long {
        padding: 0.2em 2em;
    }
}

@media only screen and (max-width: 600px) {
    .cta-large {
        padding: 1em 1.5em 1em 1.5em;
    }

    .cta-long {
        padding: 0.2em 0.5em;
    }
}

@media only screen and (max-width: 450px) {
    .cta-long {
        font-size: 1.7em;
    }
}

@media only screen and (max-width: 400px) {
    .cta-long {
        font-size: 1.4em;
    }
}