.menu-card-wrapper.expanded {
    grid-row: span 3;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 2fr;
    background-color: #292929;
    border-radius: 13px;
    row-gap: 1em;
    max-height: 100%;
}

.menu-card-wrapper.expanded .menu-card,
.review p {
    padding: 0;
    margin: 0;
}

.menu-card-wrapper.expanded .menu-card-reviews {
    display: flex;
    align-self: start;
    flex-direction: column;
    gap: 1em;
    grid-column: span 2;
    color: white;
    margin: 0 1em;
    max-height: 100%;
}

/* this is funny, I have no idea if this is the best way to do this  */
.menu-card-wrapper.expanded>.menu-card>.menu-card-button {
    background-color: #2BB24D;
    color: white;
}

.menu-card-wrapper.expanded>.menu-card>.menu-card-button:hover {
    background-color: #289844;
}

.reviews {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0 0.5em;
    /* wanna be able to scroll the reviews instead of overwhelming the screen */
    max-height: 40vh;
    overflow-y: auto;
}

/* Custom scrollbar styles */
.reviews::-webkit-scrollbar {
    width: 8px;
}

.reviews::-webkit-scrollbar-track {
    background: #292929;
}

.reviews::-webkit-scrollbar-thumb {
    background: #FFF;
    border-radius: 7px;
}

.reviews::-webkit-scrollbar-thumb:hover {
    background: #E6E6E6;
}

.review {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    background-color: #FFF;
    color: #000;
    border-radius: 13px;
    padding: 0.9em 1.2em;
}

.review h2 {
    margin: 0;
    padding: 0;
}

.review-button {
    margin: 0;
    background-color: #FFF;
    color: #000;
    font-weight: 700;
}

.review-details {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 2000px) {
    .create-review.review-details {
        flex-direction: column;
        gap: 0.3em;
    }
}

.review-details p {
    margin: 0;
    padding: 0;
}


.reviews-title {
    margin: 0;
    padding: 0;
    font-size: 1.7em;
}

.review-date {
    font-size: 0.8em;
    color: #666;
}

.create-review-name,
.create-review-text {
    border: 1px solid #C3C3C3;
    border-radius: 4px;
    resize: none;
}


.create-review-name::placeholder,
.create-review-text::placeholder {
    color: #A1A1A1;
}

.create-review-name {
    margin: 0.3em 0 0.3em 0;
}

.create-review-submit {
    margin: 0 8em;
    padding: 0.3em 0.5em;
    font-weight: 700;
    align-self: center;
}

.create-review-stars {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 0.5em;
    width: max-content;
    position: relative;
}

.star-label.hidden {
    display: none;
}

.star-label {
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

/* for every selected star, set all the following ones to be unselected */

.radio-star:checked+.star-label~.star-label * {
    fill: none;
    stroke: #000;
    stroke-width: 0.5px;
}

.radio-star {
    position: fixed;
    opacity: 0;
    width: 0;
}

.star-label svg path {
    fill: #F4AA2A;
    stroke: none;
    stroke-width: none;
}